@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.outfit-font {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    /* do not allow user to select text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select,
input,
textarea {
    border: 1px solid #c2c2c2;
    outline-color: #C586A5;
    border-radius: 5px;
}

* {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}